<!DOCTYPE html>
	<html lang="en">
	<head>
	<meta charset="UTF-8">
	<title>Title</title>
	</head>
	<body>
	Hello from index
	<br>
	<a href="/">index</a>
	<a href="/about">about</a>
	<a href="/contact">contact</a>
	</body>
	</html>