html, body {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../img/song.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

h1 {
    font-size: 8rem;
    color: red;
}