<!DOCTYPE html>
	<html lang="en">
	<head>
	<meta charset="UTF-8">
	<title>Title</title>
	</head>
	<body>
	-Home-
	<br>
	<a href="/">Home</a><br>
	<a href="/m">Monday</a>
	<a href="/t">Tuesday</a>
	<a href="/w">Wednesday</a>
	<a href="/th">Thursday</a>
	<a href="/f">Friday</a>
	<a href="/s">Saturday</a>
	<a href="/su">Sunday</a>
	<img src="https://cdn3.iconfinder.com/data/icons/streamline-icon-set-free-pack/48/Streamline-18-512.png">
	</body>
	</html>